forEach: Aggregate
representativeFor: Aggregate
fileName: {{namePascalCase}}Mapper.xml
path: {{boundedContext.name}}/{{options.package}}-boot/src/main/resources/mybatis.mapper
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posco.{{boundedContext.name}}.{{options.package}}.domain.{{nameCamelCase}}.mybatis.{{namePascalCase}}Mapper">
    
    {{#attached 'View' this}}
    {{#if queryParameters}}
    <select id="{{nameCamelCase}}" resultType="{{namePascalCase}}Response">
        SELECT * 
        FROM {{#outgoingRelations}}{{value.targetElement.namePascalCase}}_table{{^if @last}}, {{/if}}{{/outgoingRelations}}
        WHERE {{#outgoingRelations}}{{value.targetElement.nameCamelCase}}_id = #{id} {{^if @last}} AND {{/if}}{{/outgoingRelations}}
    </select>
    {{/if}}
    {{/attached}}
</mapper>